.app-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: vh(100);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-overlay);
  background-color: var(--app-overlay-bg);

  @include respond-above(tablet) {
    backdrop-filter: blur(to-rem(4));
  }
}

.app-modal__overlay--hidden {
  display: none;
}

.app-modal__overlay--animation {
  animation: fade-in var(--medium-transition-duration)
    var(--hover-transition-timing-function) forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.app-modal__modal {
  position: relative;
  z-index: var(--z-modal);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--col-kuro-green);
  color: var(--col-total-white);
  font-family: var(--secondary-font-family);
  font-size: to-rem(14);
  font-weight: 400;
  line-height: 1.3;

  @include respond-above(tablet) {
    max-width: to-rem(400);
    height: auto;
    max-height: vh(95);
    background-color: var(--col-gordons-green);
    border-radius: to-rem(16);
  }
}

.app-modal__close-btn {
  position: absolute;
  top: to-rem(22);
  right: to-rem(22);
  padding: to-rem(6);
}

.app-modal__content {
  width: 100%;
  height: 100%;
  padding: to-rem(40) to-rem(32);

  @include respond-above(tablet) {
    padding: to-rem(32);
  }
}
