.sign-up-form__form {
  width: 100%;
  margin: 0 auto;
}

.sign-up-form__form-fieldset {
  display: contents;
}

.sign-up-form__title {
  margin-top: 0;
  margin-bottom: to-rem(30);
  font-size: to-rem(28);
  font-weight: 700;
  text-align: center;

  @include respond-above(tablet) {
    margin-bottom: to-rem(24);
  }
}

.sign-up-form__email-label::after {
  content: '*';
}

.sign-up-form__email-input,
.sign-up-form__input-stub {
  width: 100%;
  height: auto;
  min-height: to-rem(40);
  display: flex;
  align-items: center;
  margin-top: to-rem(8);
  padding: to-rem(10) to-rem(16);
  background-color: var(--col-gordons-green);
  border: none;
  border-radius: to-rem(12);
  box-shadow: none;
  color: inherit;
  font-size: to-rem(14);

  @include respond-above(tablet) {
    background-color: var(--col-rich-olive);
  }
}

.sign-up-form__email-error {
  display: none;
  margin-top: to-rem(8);
  color: var(--col-vermilion-cinnabar);
  font-size: 0.8em;
}

.sign-up-form__email-error--visible {
  display: block;
}

.sign-up-form__country-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: to-rem(16);
  margin: to-rem(20) 0;

  @include respond-above(tablet) {
    margin: to-rem(16) 0;
  }
}

.sign-up-form__country-img {
  margin-right: to-rem(8);
}

.sign-up-form__agree-wrapper {
  display: flex;
  align-items: center;
  padding-left: to-rem(28);
  cursor: pointer;
}

.sign-up-form__check-input {
  width: auto;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sign-up-form__check-box {
  position: absolute;
  margin-left: -#{to-rem(28)};
  width: to-rem(20);
  height: to-rem(20);
  background-image: url('/img/checkbox.png');
  background-size: to-rem(20);
}

.sign-up-form__check-input:checked + .sign-up-form__check-box {
  background-image: url('/img/checkbox-checked.png');
}

.sign-up-form__check-input:focus-visible + .sign-up-form__check-box {
  outline: -webkit-focus-ring-color auto to-rem(1);
}

.sign-up-form__divider {
  width: 100%;
  height: to-rem(1);
  margin: to-rem(20) 0;
  background-color: #697a6d;

  @include respond-above(tablet) {
    margin: to-rem(16) 0;
  }
}

.sign-up-form__submit-btn {
  width: 100%;
  border-radius: to-rem(12);

  @include respond-above(medium) {
    &.sign-up-form__submit-btn {
      font-size: to-rem(14);
    }
  }
}
