%full-width {
  width: 100%;
  height: 100%;
}

@mixin bg-image($path, $is-centered: false) {
  @if $is-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  display: inline-block;
  @extend %full-width;

  background-image: url(#{$path + '.png'});
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  @supports (background-image: url(#{$path + '.webp'})) {
    background-image: url(#{$path + '.webp'});
  }
}

.wheel {
  --wheel-size: 500px;

  position: relative;
  width: var(--wheel-size);
  height: var(--wheel-size);
  border-radius: 50%;
  filter: drop-shadow(0 to-rem(10) to-rem(50) var(--col-key-lime));
  overflow: hidden;
  cursor: pointer;

  @include hover {
    .wheel__btn {
      &::after {
        opacity: 1;
        transform: scale(1.25);
      }
    }
  }
}

.wheel__main {
  @include bg-image('/img/wheel-main');

  animation-name: wheel-shake-1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  .wheel--spinning-1 & {
    animation-name: spinToStageTwo;
    animation-duration: 4s;
    animation-iteration-count: 1;
  }

  .wheel--spinning-2 & {
    animation-name: spinToStageThree;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transform: rotate(-25deg);
  }
}

.wheel__overlay {
  @include bg-image('/img/wheel-overlay', true);
}

.wheel__border {
  @include bg-image('/img/wheel-border', true);
}

.wheel__arrow,
.wheel__arrow-shadow {
  width: 18.5%;
  height: 18.5%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.wheel__arrow {
  background-image: url('/img/stone-arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @supports (background-image: url('/img/stone-arrow.webp')) {
    background-image: url('/img/stone-arrow.webp');
  }
}

.wheel__btn {
  width: 21.5%;
  height: 21.5%;

  @include bg-image('/img/wheel-btn', true);

  transform-origin: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    @extend %full-width;
    opacity: 0;

    @include bg-image('/img/wheel-btn-hover');
    transition: opacity var(--hover-transition),
      transform var(--hover-transition);
  }
}

@keyframes wheel-shake-1 {
  0% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(-4deg);
  }
}

@keyframes wheel-shake-2 {
  0% {
    transform: rotate(-176deg);
  }

  50% {
    transform: rotate(-184deg);
  }

  100% {
    transform: rotate(-176deg);
  }
}

@keyframes spinToStageTwo {
  0% {
    transform: rotate(-4deg);
  }

  70% {
    transform: rotate(1086deg);
  }

  80% {
    transform: rotate(1076deg);
  }

  100% {
    transform: rotate(3turn);
  }
}

@keyframes spinToStageThree {
  0% {
    transform: rotate(3turn);
  }

  70% {
    transform: rotate(1998deg);
  }

  80% {
    transform: rotate(1976deg);
  }

  100% {
    transform: rotate(1985deg);
  }
}
