$col-total-black: #000000;
$col-total-black-rgb: hex-to-rgb($col-total-black);

$col-total-white: #ffffff;
$col-total-white-rgb: hex-to-rgb($col-total-white);

$col-eventide: #676571;
$col-eventide-rgb: hex-to-rgb($col-eventide);

$col-infra-red: #fa4776;
$col-infra-red-rgb: hex-to-rgb($col-infra-red);

$col-forsythia: #ffc700;
$col-forsythia-rgb: hex-to-rgb($col-forsythia);
