$col-total-black: #000000;
$col-total-black-rgb: hex-to-rgb($col-total-black);

$col-total-white: #ffffff;
$col-total-white-rgb: hex-to-rgb($col-total-white);

$col-dark-tone-ink: #121212;
$col-dark-tone-ink-rgb: hex-to-rgb($col-dark-tone-ink);

$col-tibetan-yellow: #fedf00;
$col-tibetan-yellow-rgb: hex-to-rgb($col-tibetan-yellow);

$col-nuclear-fallout: #ac9700;
$col-nuclear-fallout-rgb: hex-to-rgb($col-nuclear-fallout);

$col-key-lime: #b0ff7d;
$col-key-lime-rgb: hex-to-rgb($col-key-lime);
