<section class="bonuses-section js-bonuses-section">
  <div class="bonuses-section__title-wrapper">
    <h3 class="bonuses-section__title">Tentativas restantes:</h3>
    <span class="bonuses-section__tries js-bonus-tries">1</span>
  </div>
  <div class="bonuses-section__bonus-wrapper">
    <p>Bônus nº 1</p>
    <img src="/img/bonus-1.webp" width="140" height="140" alt="" />
  </div>
  <div
    class="bonuses-section__bonus-wrapper bonuses-section__bonus-wrapper--second"
  >
    <p>Bônus nº 2</p>
    <img src="/img/bonus-2.webp" width="140" height="140" alt="" />
  </div>
</section>
