<button
  class="wheel wheel--stage-1 js-wheel"
  type="button"
  aria-label="Gire a Roda"
>
  <span class="wheel__main js-wheel-main-part"></span>
  <span class="wheel__overlay"></span>
  <span class="wheel__border"></span>
  <svg
    class="wheel__arrow-shadow"
    xmlns="http://www.w3.org/2000/svg"
    width="143"
    height="128"
    viewbox="0 0 143 128"
    fill="none"
    xmlns:v="https://vecta.io/nano"
  >
    <g filter="url(#A)">
      <path d="M71.5 108L20.838 20.25h101.325L71.5 108z" fill="#121212" />
    </g>
    <defs>
      <filter
        id="A"
        x=".838"
        y=".25"
        width="141.325"
        height="127.75"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" />
        <feBlend in="SourceGraphic" />
        <feGaussianBlur stdDeviation="10" />
      </filter>
    </defs>
  </svg>
  <span class="wheel__arrow"></span>
  <span class="wheel__btn"></span>
</button>
